// Brand colors

$primary: #F2B641;;
$secondary: #84B6B6;
$tertiary:#E05B33;
$quarternary: #71B188;

// Font colors
$black: #282C2F;
$slate: #464A55;
$grey: #eee;
$white: #fff;

// Background colors:
$background-light: #F9F8F6;
$background-medium: #deddda
