.main-nav {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  a {
    font-family: $sans-serif-med;
    text-decoration: none;
    padding: 0 1.125rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
