// ------- FONTS -------

// Serif
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

$serif: 'Playfair Display', serif;

// Sans-Serif
@font-face {
  font-family: 'futura-light';
  src: url('assets/fonts/futura-light.woff') format('woff'),
       url('assets/fonts/futura-light.ttf')  format('truetype');
}

@font-face {
  font-family: 'futura-medium';
  src: url('assets/fonts/futura-medium.woff') format('woff'),
       url('assets/fonts/futura-medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'futura-heavy';
  src: url('assets/fonts/futura-heavy.woff') format('woff'),
       url('assets/fonts/futura-heavy.ttf')  format('truetype');
}

$sans-serif-light: 'futura-light', sans-serif;
$sans-serif-med: 'futura-medium', sans-serif;
$sans-serif-heavy: 'futura-heavy', sans-serif;

// body {
//   font-family: $sans-serif-med;
// }

// ------- FONT STYLES -------

body {
  font-size: 16px;
}

h1 {
  font-family: $serif;
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-family: $sans-serif-med;
}

p {
  font-family: $sans-serif-med;
}
